* {
  box-sizing: border-box;
}

:root {
  --background-color: #ffffff;
  --background-color2: #E0E0E0;
  --text-color: #222;
  --accent-color: #dddddd;
  --header-font: 'League Spartan', sans-serif;
  --body-font: 'Rokkitt', serif;
}





/* fonts */
/* league-spartan-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/league-spartan-v11-latin/league-spartan-v11-latin-regular.woff2') format('woff2');
}

/* rokkitt-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/rokkitt-v36-latin/rokkitt-v36-latin-regular.woff2') format('woff2');
}

/* rokkitt-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Rokkitt';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/rokkitt-v36-latin/rokkitt-v36-latin-italic.woff2') format('woff2');
}

/* rokkitt-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/rokkitt-v36-latin/rokkitt-v36-latin-600.woff2') format('woff2');
}

.jBeard-header-font {
  font-family: var(--header-font);
}

.jBeard-body-font {
  font-family: var(--body-font);
  line-height: 1.4;
}

.lowercase {
  text-transform: lowercase;
}

/* borders for text */
.jbeard-text-border {
  border-left: 3px solid var(--text-color);
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .jbeard-text-border {
    border: none;
  }

}

/* Color Palette */
.jbeard-line-divider {
  border-color: var(--accent-color);
}

.jbeard-body-bg-color {
  background-color: var(--background-color);
  color: var(--text-color)
}

.jbeard-selectedWorks-bg-color {
  background-color: var(--background-color2);
  color: var(--text-color);
}

.jbeard-button-color {
  background-color: var(--background-color2);
  color: var(--text-color);
}

.jbeard-button-color:hover {
  transform: scale(1.09);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


.jbeard-service-color {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* images */

.jbeard-portrait {
  border: 4px solid var(--accent-color);
}



/* social media icons */
footer a {
  text-decoration: none;
}

.jBeard-hoverEffect:hover {
  fill: gray;
}


/* border */
@media (max-width: 767.98px) {
  .jbeard-text-border {
    border: none !important;
  }
}
