backend:
name: git-gateway
branch: main # or your default branch

media_folder: "static/img"
public_folder: "/img"

collections:
- name: "blog"
label: "Blog"
folder: "content/blog"
create: true
slug: "{{slug}}"
fields:
- {label: "Title", name: "title", widget: "string"}
- {label: "Publish Date", name: "date", widget: "datetime"}
- {label: "Body", name: "body", widget: "markdown"}
