backend:
  name: git-gateway
  branch: main  # or 'master' if that's your default branch

media_folder: "images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "pages"
    label: "Pages"
    files:
      - label: "Homepage"
        name: "homepage"
        file: "index.html"
        fields:
          - { label: "Intro Text", name: "body", widget: "markdown" }
